<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ghostscript.NET" version="1.2.1" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net452" />
  <package id="Jot" version="1.3.11" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.4.701" targetFramework="net452" />
  <package id="Microsoft.ReportViewer" version="11.0.3366.16" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="11.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.4.11" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.11" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.11" targetFramework="net452" />
  <package id="ZXing.Net" version="0.15.0" targetFramework="net452" />
</packages>